<!DOCTYPE HTML> 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UNIVERSITAS VIRTUAL INDONESIA</title>
<meta name="keywords" content="Universitas Virtual Terbuka" />
<meta name="description" content="Kuliah Programming Python" />
<link href="{{ STATIC_URL }}static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="uvt_header_wrapper">
    <div id="uvt_header">
    	<div id="site_title">
            <h1><a href="#" target="_parent">
                <img src="{{ STATIC_URL }}static/images/uvt_logo.png" alt="Site Title" />
                <span>Universitas Virtual Terbuka</span>
            </a></h1>
        </div>
        <p> Universitas Virtual Terbuka Indonesia </p>
        <p> Kuliah Programming Python </p>      
    </div> <!-- end of uvt_header -->

</div> <!-- end of uvt_menu_wrapper -->

<div id="uvt_menu_wrapper">
    <div id="uvt_menu">
        
        <ul>
            <li><a href="#" class="current">Beranda</a></li>
            <li><a href="#" target="_parent">Artikel</a></li>
            <li><a href="#" target="_parent">Perpustakaan</a></li>
            <li><a href="#" target="_parent">Aplikasi</a></li>
            <li><a href="#">Forum</a></li>
            <li><a href="#">Anggota</a></li>           
                    
        </ul>    	
    
    </div> <!-- end of uvt_menu -->
</div>

<div id="uvt_content_wrapper">

	<div id="uvt_sidebar">
    
    	<div class="sidebar_box">
        	
            <h2>Pendaftaran</h2>
            
            <div class="news_box">
                <a href="#">Pendaftaran untuk mahasiswa baru.</a>
                <p class="post_info">Posted by <a href="#">Admin</a> on <span>November 13, 2012</span></p>
            </div>
            
            <div class="news_box">
                <a href="#">TULISAN</a>
                <p class="post_info">Posted by <a href="#">Admin</a> on <span>November 13, 2012</span></p>
            </div>
            
            <div class="news_box">
                <a href="#">TULISAN</a>
                <p class="post_info">Posted by <a href="#">Admin</a> on <span>November 13, 2012</span></p>
            </div>
        
        </div><div class="sidebar_box_bottom"></div>
        
        <div class="sidebar_box">
			
            <h2>Newsletter</h2>
            
            <form action="#" method="get">
            <label>Silakan masukkan E-mail anda untuk subscribe beritar terbaru dari kami.</label>
            <input type="text" value="" name="username" size="10" id="input_field" title="usernmae" />
            <input type="submit" name="login" value="Subscribe" alt="login" id="submit_btn" title="Login" />
            </form>
            
            <div class="cleaner"></div>
        
        </div><div class="sidebar_box_bottom"></div>
    
    </div> <!-- end of sidebar -->
    
    <div id="uvt_content">
    
    	<div class="content_box">
        
        	<h2>Selamat Datang </h2>
            
            <p> Di Universitas Virtual Terbuka <a href="#" target="_parent"></a> untuk para Mahasiswa dan Mahasiswi </p>
            
          <div class="cleaner_h20"></div>
            
            <div class="image_fl">
	            <img src="{{ STATIC_URL }}static/images/uvt_images01.jpg" alt="image" />
            </div>
            
            <div class="section_w250 float_r">
            
            	<ul class="list_01">
                   	  <li>Belajar Dasar Programming Python</li>
                      <li>tulisan </li>
                      <li>tulisan </li>
                      <li>tulisan </li>
                      <li>tulisan </li>
                      <li>tulisan </li>
                      <li>Phasellus nec ante eget felis </li>
              </ul>
            
            </div>
        
        	<div class="cleaner"></div>
        </div><div class="content_box_bottom"></div>
        
        <div class="content_box">
        
        	<h2>Testimonial</h2>
            
            <div class="section_w250 float_l">
				<h3>TULISAN</h3>            
				<p>TULISAN</p>
            
            </div>  
            
            <div class="section_w250 float_r">
				<h3>TULISAN</h3>            
				<p>TULISAN</p>
            
            </div>            
           
        
        	<div class="cleaner"></div>
        </div><div class="content_box_bottom"></div>
    
    </div> <!-- end of content -->
    
    <div class="cleaner"></div>

</div>

<div id="uvt_footer_wrapper">

    <div id="uvt_footer">
    
        <ul class="footer_menu">
                    <li><a href="#">Beranda</a></li>
                    <li><a href="#" target="_parent">Artikel</a></li>
                    <li><a href="#" target="_parent">Perpustakaan</a></li>
                    <li><a href="#" target="_parent">Aplikasi</a></li>
                    <li><a href="#">Forum</a></li>
                    <li class="last_menu"><a href="#">Contact Us</a></li>
                </ul>
                
                Copyright © 2012 <a href="#">Universitas Virtual Terbuka</a> | 
                Designed by <a href="#" target="_parent">UVT</a> | 
                
    </div>
    
</div>
</body>
</html>
